@mixin skill-line {
  height: 20px;
  width: 65%;
  background-color: rgb(228, 205, 228);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(129, 112, 129);
  }
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: #F8EDED;
    border: 3px solid #E4BAD4;
    right: 25px;
    bottom: 10px;
    text-align: center;
    line-height: 40px;
    color: #333;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    border-radius: 50%;
    transition: all 0.3s ease;
    &:hover {
        background-color: #558776;
    }
}
.show {
    bottom: 30px;
    pointer-events: auto;
    opacity: 1;
}

body {
  height: 100%;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  
  font-family: "BhuTuka Expanded One", cursive !important;
  font-family: "Syne Mono", monospace !important;
}
#menu {
    z-index: 9;
    background-color:#f5e3e6 ;
  width: 100%;
  position: fixed;
  padding-top: 25px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "BhuTuka Expanded One", cursive;
  font-family: "Syne Mono", monospace;
  .name {
    padding-left: 20px;
  }
  .menu-content {
    display: flex;
    .nav-item {
      padding-right: 15px;
      cursor: pointer;

      a {
        position: relative;
        display: block;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        &:hover {
          &::before {
            opacity: 1;
          }
        }
        &::before {
          content: "";
          position: absolute;
          transition: 1s;
          border-radius: 100%;
          width: 30px;
          height: 30px;
          background-color: rgb(193, 209, 148);
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          opacity: 0;
          z-index: -1;
        }
      }
    }

   
  }

  .menu-mobile {
    position: relative;
    display: none;
    a {
      text-decoration: none;
      margin-right: 10px;
    }

    .menu-mobile-content {
      position: absolute;
      top: 50px;
      right: 10px;
      background-color: rgb(233, 235, 227);
      width: 200px;
      text-align: center;
      &::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        background-color: rgb(233, 235, 227);
        transform: rotate(45deg);
        top: -8px;
        right: 15px;
      }
    }
  }
}
#top {
  padding-top: 150px;
  p {
    font-size: 30px;
    font-family: "Yuji Syuku", serif;
  }

  .row {
    font-family: "BhuTuka Expanded One", cursive;
    font-family: "Syne Mono", monospace;
  }

  .css-img {
    img {
      width: 60%;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;
      box-shadow: 4px 4px 6px;
    }
  }
}
#about {
  padding-top: 100px;
  font-family: "BhuTuka Expanded One", cursive;
  font-family: "Syne Mono", monospace;
  .css-line {
    .line {
      height: 2px;
      width: 25px;
      background-color: violet;
      margin-top: 15px;
    }
    p {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
  .about-right {
    margin-top: 50px;
    dl {
      display: flex;
      flex-wrap: wrap;
      dt {
        width: 15%;
      }
      dd {
        width: 85%;
      }
    }
  }
  .about-left {
    margin-top: 50px;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
}

#skills {
  padding-top: 100px;
  font-family: "BhuTuka Expanded One", cursive;
  font-family: "Syne Mono", monospace;
  .skills-line {
    .line {
      height: 2px;
      width: 25px;
      background-color: violet;
      margin-top: 15px;
      position: relative;
    }
    p {
      padding-left: 3px;
      padding-right: 3px;
    }
    .html::before {
      content: "";
      position: absolute;
      height: 100%;
      left: 0px;
      top: 0px;
      background: #000;
    }
  }
  
  .skills-element {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    .skills-right-html {
        @include skill-line();
      &::before {
        width: 50%;
      }
    }
    .skills-right-scss{
        @include skill-line();
        &::before{
            width: 50%;
        }
    }
    .skills-right-js{
        @include skill-line();
        &::before{
            width: 50%;
        }
    }
    .skills-right-php{
        @include skill-line();
        &::before{
            width: 20%;
        }
    }
    .skills-right-mysql{
        @include skill-line();
        &::before{
            width: 10%;
        }
        
    }
    .skills-right-java{
        @include skill-line();
        &::before{
            width: 10%;
        }
    }
    .skills-left {
        display: flex;
      width: 35%;
      .icon-img{
          margin-right: 15px;
          width: 40px;
          height: auto;
          
      }
    }
    
  }
}
#works {
  padding-top: 100px;
  font-family: "BhuTuka Expanded One", cursive;
  font-family: "Syne Mono", monospace;
  .workslinecl {
    .lineworks {
      height: 2px;
      width: 25px;
      background-color: violet;
      margin-top: 15px;
    }
    p {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
  .item {
      overflow: hidden;
      position: relative;
    img{
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: center;
        transition: transform 0.8s ease;
    }
    .content{
        position: absolute;
        height: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #f5e3e6;
        transition: height 0.8s ease;
    }
    p{
        text-align: center;
    }
    &:hover{
        img{
            transform: scale(1.5);
        }
        .content{
            height: 20%;
        }
    }
  }
}
#contact{
    padding-top: 100px;
    font-family: "BhuTuka Expanded One", cursive;
    font-family: "Syne Mono", monospace;
    .contactline {
      .lineco{
        height: 2px;
        width: 25px;
        background-color: violet;
        margin-top: 15px;
        position: relative;
      }
      p {
        padding-left: 3px;
        padding-right: 3px;
      }
    }
    .contact-infoms{
        i{
            font-size: 32px;
           padding-top: 10px;
           padding-right: 15px;
        }
    }
    .contactinfo{
      
        .cus-width{
            width: 46%;
           
        }
        .add{
            width: 100%;
        }
        
            
        }
        
    
}
.made{
    
    .icon{
        justify-content: flex-end;
    }
    .cop{
        i{
            padding-top: 3px;
            padding-right: 5px;
        }
    }
}



@media only screen and (max-width: 62rem) {
}
@media only screen and (max-width: 48rem) {
    #skills{
        .skills-element{
            .skills-left{
                h3{
                    font-size: 20px;
                }
            }
        }
    }
}
@media only screen and (max-width: 36rem) {
  #menu {
    .menu-content {
      display: none;
    }
    .menu-mobile {
      display: block;
      .menu-mobile-content {
        display: none;
      }
    }
  }
  #skills{
    .skills-element{
        .skills-left{
            h3{
                font-size: 17px;
            }
        }
    }
}


}
@media only screen and (max-width: 30rem) and (min-width: 20rem) {
    #works{
        .item{
            img{
                height: 220px;
            }
        }
    }
    #skills{
        .skills-element{
            .skills-left{
                h3{
                    font-size: 15px;
                }
            }
        }
    }
}
